@font-face {
  font-family: nb;
  src: url(./images/NBInternationalProBoo.ttf);
}
@font-face {
  font-family: rejoy;
  src: url(./images/Rejouice-Headline.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nb;
}
html,
body {
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #dadada;
}
#cursor {
  height: 6vw;
  width: 6vw;
  background-color: #ff5f38;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cursor h5 {
  font-size: 1.15vw;
  font-weight: 500;
}
#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#page1-content {
  height: 100%;
  width: 100%;

  position: relative;
  z-index: 10;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 3vw 3vw;
}
nav h3 {
  font-size: 1.4vw;
  font-weight: 100;
}
nav h4 {
  font-size: 1.4vw;
  font-weight: 100;
}
#page1-content h1 {
  font-family: rejoy;
  font-size: 27vw;
  font-weight: 100;
  line-height: 27vw;
}
#page1-content h1 span {
  font-family: rejoy;
}
