.aboutcontainer {
  background-image: url("../assets/Images/Blue-Design-Abstract.jpg");

  // background-color: blue;
  height: 140%;
  width: 100%;
  padding: 30px 20px 50px 50px;
  margin-top: 5%;
}
.aboutdemo {
  border: 10px solid red;
  margin-top: "-100%";
  height: 100%;
  width: 100%;

  background-color: red;
}
