.Addbutton
{
background-color:crimson;
border-color: crimson;
font-Size:15px;
padding:2px 2px;
border-radius:20px;
width:45%;
height:1%;
color:white;
margin-left: 28%;
font-family: sans-serif;
}
.Addbutton:hover
{
    background-color:blue;
    color:white;
    border-color: blue;
}