.btnlogin2 {
  background-color: rgb(59, 56, 233);
  color: white;
  height: 40px;
  width: 52%;
  margin-left: -1%;
  border-radius: 2px;
  margin-top: -10%;
}
.mandirimages3 {
  height: 200px;
  width: 250px;
  margin-top: 4%;
  margin-bottom: 2%;
  margin-left: 25%;
}
.login3 {
  margin-top: 7%;
  margin-left: 25%;
  font-size: 30px;
  color: rgb(59, 56, 233);
}
.p3 {
  color: blue;
  font-size: 20px;
  margin-left: 25%;
}
.aforgot {
  margin-left: 4%;
  font-size: 20px;
  margin-top: 4%;
}
