.navbar-burma
{
     margin-left: -30%;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 10px 10px;
    cursor: pointer;
}
.navbar-burma:hover
{
    color:black;
    border:none;
}

.navbar-sheem
{
    margin-left: -5%;
    text-decoration: none;
     color: white;
     font-size: 12px;
     padding: 10px 10px;
     cursor: pointer;
}
.navbar-sheem:hover
{
    color:black;
    border:none;
}